.products {
  .submit-btn {
    width: 70%;
  }

  .card {
    background-color: #fdebe3 !important;
    border: none !important;
    min-height: 500px;
  }

  .heading {
    color: #f0642b;
  }

  .img-thumbnail {
    background-color: #fdebe3 !important;
  }
}

.create-product{
  padding: 20px;

  .create-div{
    padding-top: 20px;
  }

  .create-btn {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 50px;
    color: #fff;
    background: #f0642b;
    border: none;
    border-radius: 50px;
    text-align: center;
  }

  .reg-image {
    max-width: 100%;
  }
}