.login {
    background-color: #fdebe3;
    color: #000000;
    padding: 100px
}

.submit-btn {
    width: 70%;
}

@media only screen and (max-width:1000px){
    .reg-image{
        display: none;
    }
}