.login {
  background-color: #fdebe3;
  color: #000000;
//   padding: 100px;

  .submit-btn {
    width: 70%;
  }

  #rowdiv {
    background: white;
    padding: 20px;
    margin: 8%;
    margin-top: 5%;
  }

  form {
    padding-top: 50px;
  }
  .submit {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 35px;
    color: #fff;
    background: #f0642b;
    border: none;
    border-radius: 50px;
    text-align: center;
  }

  .haveAccount {
    text-align: center;
  }

  .haveAccountLink {
    color: #f0642b;
  }

  .haveAccountLink:hover {
    color: #f0642b;
  }

  .reg-image {
    max-width: 100%;
  }


  .reg-div {
    padding-top: 50px;
  }

  @media only screen and (max-width: 1000px) {
    .reg-image {
      display: none;
    }
  }
}
